/*Archivo de estilos main.css*/

  @import url('https://fonts.googleapis.com/css?family=Lobster');
  @import url('https://fonts.googleapis.com/css?family=Amaranth');
  
  body {
    font-family: 'Amaranth', sans-serif;
  }

  /*Formatos*/
  .formato {
    padding: 100px;
  }
  .cursiva {
    font-family: 'Lobster', cursive;
  }
  .opa {
    opacity: 0.8 !important;
  }
  .pos-rel {
    position: relative;
  }
  .abs {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .inp-error {
    border-color: red;
  }

  /*Navbar*/
  .logo-nav {
    height: 140px;
    position: absolute;
    right: -80px; 
    top: -5px;
    opacity: 0.9;
  }
  .logo-nav-scroll {
    height: 70px;
    position: absolute;
    right: -40px; 
    top: -5px;
   opacity: 0.9;
  }

  /*Carrusel principal*/
  #myCarousel {
    /*min-height: 100%;*/
    height: 200px;
  }
  #cazza1 {
    height: 300px;
    background-image: url("../img/carrusel/ca01.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #cazza2 {
    height: 300px;
    background-image: url("../img/carrusel/ca02.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #cazza3 {
    height: 300px;
    background-image: url("../img/carrusel/ca01.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /*colores background*/
  .color-naranja {
    background-color: #f7b231;
    color: white;
  }
  .color-adobe {
    background-color: #ca4929;
  }
  .color-azul {
    background-color: #0e4c5b;
  }

  /*Colores letra*/
  .letra-blanco {
    color: #fff;
  }
  .letra-adobe {
    color: #ca4929;
  }
  .letra-naranja {
    color: #f7b231;
  }
      
  /*CSS para las secciones*/
  .carrusel {
    background-color: #333;
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .carrusel > .carousel {
    margin: 0;
    padding: 0;
  }
  .informacion {
    background-color: #ca4929;
  }
  h2.head {
    color: white;
    padding-bottom: 10px;
  } 
  .informacion .recuadro {
    background-color: #0e4c5b;
    color: white;
    padding: 10px;
  }
  .informacion .blanco {
    color: white;
  }
  .habitaciones {
    background-color: white;
    padding-bottom: 10px;
  }
  .habitaciones .imagenes {
    padding-top: 5px;
  }
  .servicios {
    background-color: #0e4c5b;
    color: white;
  }
  .servicios h2 {
    color: white; 
  }
  .galeria {
    background-color: #a7b38f;
    position: relative;
  }
  .car-atrac {
    padding-left: 60px;
    padding-right: 60px;
  }
  .car-atrac h2 {
    text-shadow: 3px 3px 2px #000 !important;
    color: #fff;
  } 
  .contacto {
    padding-bottom: 15px;
  }
  .contacto-recuadro {
    border: 2px solid red;
  }
  footer {
    color: white;
    padding: 10px;
  }
  .footer {
    padding: 100px;
  }
  .carousel-inner > .item > img.segundoCarrusel,
  .carousel-inner > .item > a > img.segundoCarrusel {
    width: 100%;
    margin: auto;
    height: auto;
  }
  #map {
    width: 100%;
    height: 600px; 
    margin-top: 25px; 
  }

  /*Padding top-bottom*/
  .pad-top-05 {
    padding-top: 05px;
  }
  .pad-top-10 {
    padding-top: 10px;
  }
  .pad-top-15 {
    padding-top: 15px;
  }
  .pad-top-20 {
    padding-top: 20px;
  }
  .pad-bot-05 {
    padding-bottom: 05px;
  }
  .pad-bot-10 {
    padding-bottom: 10px;
  }
  .pad-bot-15 {
    padding-bottom: 15px;
  }
  .pad-bot-20 {
    padding-bottom: 20px;
  }
  /*ScrollUp*/
  #scrollUp {
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    display: none;
    background: rgba(123, 123, 123, 0.65) url(../img/arriba.png) no-repeat 50% 48%;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    transition: all 250ms linear; 
  }
  #scrollUp:hover { 
    background-color: #29aaca; 
  }
  
  /*Datepicker*/
  #ui-datepicker-div {z-index:9999 !important}

  /*Media queries*/
  @media (min-width:768px) { 
    .nav.navbar-nav {
      float: left;
    }
    .nav.navbar-nav {
      clear: left;
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
      left: 53%;
      text-align: center;
    }
    .nav.navbar-nav > li {
      position: relative;
      right: 55%;
    }
    .nav.navbar-nav li {
      text-align: left
    }
    .no-desktop {
      display: none !important;
    }
    .vamoIzquierda {
      padding-right: 30px !important;
    }
    .vamoDerecha {
      padding-left: 50px !important;
    }
    .car-atrac {
      padding-left: 10px;
      padding-right: 10px;
    }
    .responder {
      width: 50%;
    }
    .label {
      font-size: 1.4em;
    }

  }

  @media (min-width: 800) {
    #lb-alberca {
      position: absolute;
      top: 100px;
      right: 45px;
    }
  }

  @media (min-width: 900) {
    #lb-alberca {
      position: absolute;
      top: 100px;
      right: 45px;
    }
  }

  @media (min-width: 992px) {
    .car-atrac {
      padding-left: 100px;
      padding-right: 100px;  
    }
    /*.seccion-servicios {
      width: 75%;
    }*/
  }

  @media (min-width: 1200px) {
    .car-atrac {
      padding-left: 250px;
      padding-right: 250px;  
    }
  }

  @media (min-width: 1300px) {
    .car-atrac {
      padding-left: 250px;
      padding-right: 250px;  
    }
  }

  @media (min-width: 1400px) {
    .car-atrac {
      padding-left: 250px;
      padding-right: 250px;  
    }
  }

  @media (min-width: 1500px) {
    .car-atrac {
      padding-left: 250px;
      padding-right: 250px;  
    }
  }

  @media (max-width: 768px) {
    .no-phone {
      display: none !important;
    }
    .a-b {
      padding-bottom: 5px;
    }
    .mar-sides-05 {
      margin-left: 00px;
      margin-right: 00px;
    }
    .car-atrac {
      padding-left: 30px;
      padding-right: 30px;
    }
    .label {
      font-size-adjust: 0.90;
    }
  }

  @media (max-width: 700px) {
    .label {
      font-size-adjust: 0.80;
    }
  }

  @media (max-width: 650px) {
    .label {
      font-size-adjust: 0.80;
    }
    #lb-alberca {
      position: absolute;
      top: 105px;
      right: 45px;
    }
  }

  @media (max-width: 600px) {
    .label {
      font-size-adjust: 0.80;
    }
    .servicios {
      padding-right: 10px;
    }
    #lb-alberca {
      position: absolute;
      top: 105px;
      right: 45px;
    }
  }

  @media (max-width: 550px) {
    .label {
      font-size-adjust: 0.80;
    }
    .servicios {
      padding-right: 15px;
    }
    /*#lb-alberca {
      position: absolute;
      top: 105px;
      right: 25px;
    }*/
  }

  @media (max-width: 500px) {
    .label {
      font-size-adjust: 0.70;
    }
    .txt-atrac-car {
      font-size: 20px;
    }
    .servicios {
      padding-right: 15px;
    }
    .seccion-servicios {
      width: 90%;
    }
  }

  @media (max-width: 400px) {
    .label {
      /*font-size-adjust: 0.40;*/
    }
    .txt-atrac-car {
      font-size: 17px;
    }
    .svg {

    }
  }

  @media (max-width: 350px) {
    .label {;
      padding-right: 6px !important;
    }
    .txt-atrac-car {
      font-size: 15px;
    }
  }

/*BOOTSTRAP LARGE*/
@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }

    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-11 {
        width: 91.66666667%;
    }

    .col-xl-10 {
        width: 83.33333333%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-8 {
        width: 66.66666667%;
    }

    .col-xl-7 {
        width: 58.33333333%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-5 {
        width: 41.66666667%;
    }

    .col-xl-4 {
        width: 33.33333333%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-2 {
        width: 16.66666667%;
    }

    .col-xl-1 {
        width: 8.33333333%;
    }

    .col-xl-pull-12 {
        right: 100%;
    }

    .col-xl-pull-11 {
        right: 91.66666667%;
    }

    .col-xl-pull-10 {
        right: 83.33333333%;
    }

    .col-xl-pull-9 {
        right: 75%;
    }

    .col-xl-pull-8 {
        right: 66.66666667%;
    }

    .col-xl-pull-7 {
        right: 58.33333333%;
    }

    .col-xl-pull-6 {
        right: 50%;
    }

    .col-xl-pull-5 {
        right: 41.66666667%;
    }

    .col-xl-pull-4 {
        right: 33.33333333%;
    }

    .col-xl-pull-3 {
        right: 25%;
    }

    .col-xl-pull-2 {
        right: 16.66666667%;
    }

    .col-xl-pull-1 {
        right: 8.33333333%;
    }

    .col-xl-pull-0 {
        right: auto;
    }

    .col-xl-push-12 {
        left: 100%;
    }

    .col-xl-push-11 {
        left: 91.66666667%;
    }

    .col-xl-push-10 {
        left: 83.33333333%;
    }

    .col-xl-push-9 {
        left: 75%;
    }

    .col-xl-push-8 {
        left: 66.66666667%;
    }

    .col-xl-push-7 {
        left: 58.33333333%;
    }

    .col-xl-push-6 {
        left: 50%;
    }

    .col-xl-push-5 {
        left: 41.66666667%;
    }

    .col-xl-push-4 {
        left: 33.33333333%;
    }

    .col-xl-push-3 {
        left: 25%;
    }

    .col-xl-push-2 {
        left: 16.66666667%;
    }

    .col-xl-push-1 {
        left: 8.33333333%;
    }

    .col-xl-push-0 {
        left: auto;
    }

    .col-xl-offset-12 {
        margin-left: 100%;
    }

    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xl-offset-9 {
        margin-left: 75%;
    }

    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xl-offset-6 {
        margin-left: 50%;
    }

    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xl-offset-3 {
        margin-left: 25%;
    }

    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xl-offset-1-5 {
        margin-left: 8.44444444%;
    }

    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xl-offset-0 {
        margin-left: 0;
    }

    .visible-xl {
        display: block !important;
    }

    table.visible-xl {
        display: table;
    }

    tr.visible-xl {
        display: table-row !important;
    }

    th.visible-xl, td.visible-xl {
        display: table-cell !important;
    }

    .visible-xl-block {
        display: block !important;
    }

    .visible-xl-inline {
        display: inline !important;
    }

    .visible-xl-inline-block {
        display: inline-block !important;
    }

    .hidden-xl {
        display: none !important;
    }
}