/*Archivo de estilos. MAIN.CSS*/

@import 'https://fonts.googleapis.com/css?family=Lobster';
     @import 'https://fonts.googleapis.com/css?family=PT+Sans+Caption';
      body {
        font-family: 'PT Sans Caption', sans-serif;
      }
      .gris {
        color: #b0a17a;
      }
      .formato {
        padding: 100px;
      }
      .cursiva {
        font-family: 'Lobster', cursive;
      }

      /*Logo del navbar*/
      .logo-nav {
        width: 60px;
        height: 60px;
      }

      /*colores background*/
      .color-naranja {
        background-color: #f7b231;
        color: white;
      }
      
      /*CSS para las secciones*/
      .carrusel {
        background-color: #333;
        padding-top: 90px;
        padding-bottom: 10px;
      }
      .informacion {
        background-color: #ca4929;
      }
      .informacion .recuadro {
        background-color: #0e4c5b;
        color: white;
        padding: 10px;
      }
      .informacion .blanco {
        color: white;
      }
      .habitaciones {
        background-color: white;
        padding-bottom: 10px;
      }
      .habitaciones .imagenes {
        padding-top: 5px;
      }
      .servicios {
        background-color: #0e4c5b;
        color: white;
      }
      .servicios h2 {
        color: white; 
      }
      .galeria {
        background-color: #a7b38f;
      }
      .contacto {
        padding-bottom: 15px;
      }
      h2.head {
        color: white;
      }
      .flex-parent {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
      }
      .flex-child{
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      /*codigo de carrusel*/
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
      }

      #mapa_div {
       height: 100% !important;
       position: absolute;
      }

      @media (min-width: 768px) {
        .navbar-nav {
          width: 100%;
          text-align: center;
          /*margin: 5px;
          padding-top: : 5px;*/
          padding-right: 30px;
        }
        .navbar-nav > li {
          float: none;
          display: inline-block;
          padding-bottom: 0;
        }
        .navbar-nav > li > a {
          padding-top: 17px;
          padding-bottom: 0;
        }
        .navbar-nav > li > .logo {
          padding-top: 0 !important;
        }
        .navbar-nav > li.navbar-right {
          float: right !important;
        }
        .no-desktop {
          display: none !important;
        }
      }

      @media (max-width: 768px) {
        .no-phone {
          display: none !important;
        }
      }
