/*Archivo de estilos main.css*/

  @import url('https://fonts.googleapis.com/css?family=Lobster');
  @import url('https://fonts.googleapis.com/css?family=Amaranth');
  
  body {
    font-family: 'Amaranth', sans-serif;
  }

  /*Formatos*/
  .formato {
    padding: 100px;
  }
  .cursiva {
    font-family: 'Lobster', cursive;
  }
  .opa {
    opacity: 0.8 !important;
  }

  /*Navbar*/
  .logo-nav {
    height: 140px;
    position: absolute;
    right: -80px; 
    top: -5px;
    opacity: 0.9;
  }
  .logo-nav-scroll {
    height: 70px;
    position: absolute;
    right: -40px; 
    top: -5px;
   opacity: 0.9;
  }

  /*colores background*/
  .color-naranja {
    background-color: #f7b231;
    color: white;
  }
  .color-adobe {
    background-color: #ca4929;
  }
  .color-azul {
    background-color: #0e4c5b;
  }

  /*Colores letra*/
  .letra-blanco {
    color: #fff;
  }
  .letra-adobe {
    color: #ca4929;
  }
  .letra-naranja {
    color: #f7b231;
  }
      
  /*CSS para las secciones*/
  .carrusel {
    background-color: #333;
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .carrusel > .carousel {
    margin: 0;
    padding: 0;
  }
  .informacion {
    background-color: #ca4929;
  }
  h2.head {
    color: white;
    padding-bottom: 10px;
  } 
  .informacion .recuadro {
    background-color: #0e4c5b;
    color: white;
    padding: 10px;
  }
  .informacion .blanco {
    color: white;
  }
  .habitaciones {
    background-color: white;
    padding-bottom: 10px;
  }
  .habitaciones .imagenes {
    padding-top: 5px;
  }
  .servicios {
    background-color: #0e4c5b;
    color: white;
  }
  .servicios h2 {
    color: white; 
  }
  .galeria {
    background-color: #a7b38f;
    position: relative;
  }
  .abs {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .atractivos {
    position: static;
  }
  .car-atrac {
    padding-left: 60px;
    padding-right: 60px;
  }
  .car-atrac h2 {
    text-shadow: 3px 3px 2px #000 !important;
    color: #fff;
  } 
  .contacto {
    padding-bottom: 15px;
  }
  footer {
    color: white;
    padding: 10px;
  }
  .footer {
    padding: 100px;
  }
  .carousel-inner > .item > img.primerCarrusel,
  .carousel-inner > .item > a > img.primerCarrusel {
    width: 100%;
    margin: auto;
    height: 600px;
  }
  .carousel-inner > .item > img.segundoCarrusel,
  .carousel-inner > .item > a > img.segundoCarrusel {
    width: 100%;
    margin: auto;
    height: auto;
  }
  #map {
    width: 100%;
    height: 600px; 
    margin-top: 25px; 
  }

  /*Padding top-bottom*/
  .pad-top-05 {
    padding-top: 05px;
  }
  .pad-top-10 {
    padding-top: 10px;
  }
  .pad-top-15 {
    padding-top: 15px;
  }
  .pad-top-20 {
    padding-top: 20px;
  }
  .pad-bot-05 {
    padding-bottom: 05px;
  }
  .pad-bot-10 {
    padding-bottom: 10px;
  }
  .pad-bot-15 {
    padding-bottom: 15px;
  }
  .pad-bot-20 {
    padding-bottom: 20px;
  }
  /*ScrollUp*/
  #scrollUp {
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    display: none;
    background: rgba(123, 123, 123, 0.65) url(../img/arriba.png) no-repeat 50% 48%;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    transition: all 250ms linear; 
  }
  #scrollUp:hover { 
    background-color: #29aaca; 
  }
  
  /*Datepicker*/
  #ui-datepicker-div {z-index:9999 !important}

  /*Media queries*/
  @media (min-width:768px) { 
    .nav.navbar-nav {
      float: left;
    }
    .nav.navbar-nav {
      clear: left;
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
      left: 53%;
      text-align: center;
    }
    .nav.navbar-nav > li {
      position: relative;
      right: 55%;
    }
    .nav.navbar-nav li {
      text-align: left
    }
    .no-desktop {
      display: none !important;
    }
    .vamoIzquierda {
      padding-right: 30px !important;
    }
    .vamoDerecha {
      padding-left: 50px !important;
    }
    .car-atrac {
      padding-left: 10px;
      padding-right: 10px;
    }
    .responder {
      width: 50%;
    }
    .label {
      font-size: 1.4em;
    }

  }

  @media (min-width: 992px) {
    .car-atrac {
      padding-left: 100px;
      padding-right: 100px;  
    }
    .seccion-servicios {
      width: 75%;
    }
  }

  @media (min-width: 1200px) {
    .car-atrac {
      padding-left: 250px;
      padding-right: 250px;  
    }
  }

  @media (max-width: 768px) {
    .no-phone {
      display: none !important;
    }
    .a-b {
      padding-bottom: 5px;
    }
    .mar-sides-05 {
      margin-left: 00px;
      margin-right: 00px;
    }
    .car-atrac {
      padding-left: 30px;
      padding-right: 30px;
    }
    .carousel-inner > .item > img.primerCarrusel,
    .carousel-inner > .item > a > img.primerCarrusel {
      width: 100%;
      margin: auto;
      height: 430px;
    }
    .label {
      font-size-adjust: 0.90;
    }
  }

  @media (max-width: 700px) {
    .carousel-inner > .item > img.primerCarrusel,
    .carousel-inner > .item > a > img.primerCarrusel {
      width: 100%;
      margin: auto;
      height: 430px;
    }
    .label {
      font-size-adjust: 0.80;
    }
  }

  @media (max-width: 650px) {
    .carousel-inner > .item > img.primerCarrusel,
    .carousel-inner > .item > a > img.primerCarrusel {
      width: 100%;
      margin: auto;
      height: 400px;
    }
    .label {
      font-size-adjust: 0.80;
    }
  }

  @media (max-width: 600px) {
    .carousel-inner > .item > img.primerCarrusel,
    .carousel-inner > .item > a > img.primerCarrusel {
      width: 100%;
      margin: auto;
      height: 400px;
    }
    .label {
      font-size-adjust: 0.80;
    }
    .servicios {
      padding-right: 10px;
    }
  }

  @media (max-width: 550px) {
    .carousel-inner > .item > img.primerCarrusel,
    .carousel-inner > .item > a > img.primerCarrusel {
      width: 100%;
      margin: auto;
      height: 400px;
    }
    .label {
      font-size-adjust: 0.80;
    }
    .servicios {
      padding-right: 15px;
    }
  }

  @media (max-width: 500px) {
    .label {
      font-size-adjust: 0.40;
    }
    .txt-atrac-car {
      font-size: 20px;
    }
    .carousel-inner > .item > img.primerCarrusel,
    .carousel-inner > .item > a > img.primerCarrusel {
      width: 100%;
      margin: auto;
      height: 370px;
    }

    .servicios {
      padding-right: 15px;
    }
  }

  @media (max-width: 400px) {
    .label {
      font-size-adjust: 0.20;
    }
    .txt-atrac-car {
      font-size: 17px;
    }
    .carousel-inner > .item > img.primerCarrusel,
    .carousel-inner > .item > a > img.primerCarrusel {
      width: 100%;
      margin: auto;
      height: 300px;
    }
  }

  @media (max-width: 350px) {
    .label {
      font-size-adjust: 0.10;
      padding-right: 6px !important;
    }
    .txt-atrac-car {
      font-size: 15px;
    }
  }