/*Archivo de estilos. MAIN.CSS*/

     @import 'https://fonts.googleapis.com/css?family=Lobster';
     /*@import 'https://fonts.googleapis.com/css?family=PT+Sans+Caption';*/
     @import url('https://fonts.googleapis.com/css?family=Amaranth');
      body {
        font-family: 'Amaranth', sans-serif;
      }

      .formato {
        padding: 100px;
      }
      .cursiva {
        font-family: 'Lobster', cursive;
      }

      /*Logo del navbar*/
      .logo-nav {
        width: 60px;
        height: 60px;
      }

      /*colores background*/
      .color-naranja {
        background-color: #f7b231;
        color: white;
      }
      .color-naranja > h2 {
        padding-bottom: 10px;
      }
      .color-adobe {
        background-color: #ca4929;
      }
      .color-azul {
        background-color: #0e4c5b;
      }

      /*Colores letra*/
      .letra-blanco {
        color: #fff;
      }
      .letra-adobe {
        color: #ca4929;
      }
      .letra-naranja {
        color: #f7b231;
      }
      
      /*CSS para las secciones*/
      .carrusel {
        background-color: #333;
        padding-top: 60px;
        padding-bottom: 0px;
      }
      .carrusel > .carousel {
        margin: 0;
        padding: 0;
      }
      .informacion {
        background-color: #ca4929;
      }
      .informacion .recuadro {
        background-color: #0e4c5b;
        color: white;
        padding: 10px;
      }
      .informacion .blanco {
        color: white;
      }
      .habitaciones {
        background-color: white;
        padding-bottom: 10px;
      }
      .habitaciones .imagenes {
        padding-top: 5px;
      }
      .servicios {
        background-color: #0e4c5b;
        color: white;
      }
      .servicios h2 {
        color: white; 
      }
      .servicios .label {
        /*font-size: 12px !important;*/
      }
      /* Galeria*/
      .galeria {
        background-color: #a7b38f;
        position: relative;
      }
      .abs {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
      .atractivos {
        position: static;
      }
      .car-atrac {
        padding-left: 90px;
        padding-right: 90px;
      }
      .car-atrac h2 {
        text-shadow: 3px 3px 2px #000 !important;
        color: #fff;
      } 
      /* Contacto */
      .contacto {
        padding-bottom: 15px;
      }
      .footer {
        padding: 100px;
      }
      h2.head {
        color: white;
      }
      .pad-bot {
        padding-bottom: 10px;
      }

      /*codigo de carrusel*/
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
      }

      #map {
        width: 100%;
        height: 400px; 
        margin-top: 40px; 
        margin-bottom: 40px;
      }

      .opa {
        opacity: 0.8 !important;
      }

      .pad-bot-05 {
        padding-bottom: 05px;
      }
      .pad-bot-10 {
        padding-bottom: 10px;
      }
      .pad-bot-15 {
        padding-bottom: 15px;
      }
      .pad-bot-20 {
        padding-bottom: 20px;
      }
      /*Padding lateral*/
      .mar-sides-05 {
        margin-left: 00px;
        margin-right: 00px;
      }

      #scrollUp {
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: fixed;
        display: none;
        background: rgba(123, 123, 123, 0.65) url(../img/arriba.png) no-repeat 50% 48%;
        -webkit-transition: all 250ms linear;
        -moz-transition: all 250ms linear;
        transition: all 250ms linear; 
      }
      #scrollUp:hover { 
        background-color: #29aaca; 
      }

      footer {
        color: white;
        padding: 10px;
      }

      .navbar {
        opacity: 0.9;
      }

      @media (min-width: 768px) {
        .navbar-nav {
          width: 100%;
          text-align: center;
          /*margin: 5px;
          padding-top: : 5px;*/
          padding-right: 30px;
        }
        .navbar-nav > li {
          float: none;
          display: inline-block;
          padding-bottom: 0;
        }
        .navbar-nav > li > a {
          /*padding-top: 17px;*/
          padding-bottom: 0;
        }
        .navbar-nav > li > .logo {
          padding-top: 0 !important;
        }
        .navbar-nav > li.navbar-right {
          float: right !important;
        }
        .no-desktop {
          display: none !important;
        }
        .car-atrac {
          padding-left: 90px;
          padding-right: 90px;
        }
      }

      @media (max-width: 768px) {
        .no-phone {
          display: none !important;
        }
        .a-b {
          padding-bottom: 5px;
        }
        .mar-sides-05 {
          margin-left: 00px;
          margin-right: 00px;
        }
        .car-atrac {
          padding-left: 90px;
          padding-right: 90px;
        }
      }

      @media (max-width: 500px) {
        .label {
          font-size-adjust: 0.40;
        }
      }

      @media (max-width: 400px) {
        .label {
          font-size-adjust: 0.30;
        }
      }


